mixin footer(style)
  footer.footer
    .aime-container-mini
      .row.w-100 
        .col-sm-12.footer__info.text-center
            a.footer__logo.d-inline(href='#') 
              img(src='http://via.placeholder.com/185x32.png', alt='logo')
        .col-sm-12
          .row
            .col-md-3
              ul.list-link 
                li.list-link__item
                  a(href="#") Giải pháp
                li.list-link__item
                  a(href="#") Dịch vụ
                li.list-link__item
                  a(href="#") Công nghệ
            .col-md-3
              ul.list-link 
                li.list-link__item
                  a(href="#") Công nghệ
                li.list-link__item
                  a(href="#") Tuyển dụng
                li.list-link__item
                  a(href="#") Tin tức
            .col-md-3
              ul.list-link 
                li.list-link__item
                  a(href="#") Liên hệ
                li.list-link__item
                  a(href="#") AimeHotel
                li.list-link__item
                  a(href="#") Chính sách bảo mật
            .col-md-3
              ul.list-link 
                li.list-link__item
                  a(href="#") Social
              ul.list-social.d-flex.pt-1
                li.list-social__item.pr-2.mr-3
                  a(href='#').list-social__link
                    img(src='http://via.placeholder.com/32x32.png', alt='social')
                li.list-social__item.pr-2.mr-3
                  a(href='#').list-social__link
                    img(src='http://via.placeholder.com/32x32.png', alt='social')
                li.list-social__item.pr-2.mr-3
                  a(href='#').list-social__link
                    img(src='http://via.placeholder.com/32x32.png', alt='social')
                li.list-social__item.pr-2.mr-3
                  a(href='#').list-social__link
                    img(src='http://via.placeholder.com/32x32.png', alt='social')
    <hr class='footer__line'/>
      .aime-container-mini.justify-content-between
        ul.info-list
          li.info-list__item
            .info-list__icon
              img(src='http://via.placeholder.com/14x20.png', alt='icon')
            .info-list__text Tầng 3, toà nhà Hoàng Ngọc, số 4 ngõ 82 phố Dịch Vọng Hậu, Cầu Giấy, Hà Nội
          li.info-list__item
            .info-list__icon
              img(src='http://via.placeholder.com/14x20.png', alt='icon')
            .info-list__text 098-538-7426
          li.info-list__item
            .info-list__icon
              img(src='http://via.placeholder.com/14x20.png', alt='icon')
            .info-list__text info@aimesoft.com
        .footer__select
          select.language-select
            option.language-select__vi  Tiếng Việt
            option.language-select__en  Tiếng Anh
            option.language-select__jp  Tiếng Nhật
            option.language-select__kr  Tiếng Hàn
