mixin header(style)
  header.header.header--default
    nav#navbar.navbar.navbar-expand-xl.header__content(data-spy='affix')
      .aime-container.justify-content-between.align-items-center
        .header-left
          a.navbar-brand.header__logo(href='#')
            img(src='images/logo.png', alt='logo')
          button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#menuToggle', aria-controls='menuToggle', aria-expanded='false', aria-label='Toggle navigation')
            span.nav-icon
            span.nav-icon
            span.nav-icon
        .header-right
          #menuToggle.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
              li.nav-item
                a.nav-link.active(href='#') Home
              li.nav-item
                a.nav-link(href='#') About us
              li.nav-item
                a.nav-link(href='#') Multimodal AI
              li.nav-item
                a.nav-link(href='#') Services
              li.nav-item
                a.nav-link(href='#') Products & Solution
              li.nav-item
                a.nav-link(href='#') Portfolio
              li.nav-item
                a.nav-link(href='#') Blog
              li.nav-item
                a.nav-link(href='#') Contact
            ul.language-list.d-flex
              li.language-list__item
                a.language-list__link(href='#', title='viet nam')
                  img(src='images/flag-vn.png', alt='flag')
              li.language-list__item
                a.language-list__link(href='#', title='English')
                  img(src='images/flag-kingdom.png', alt='flag')
              li.language-list__item
                a.language-list__link(href='#', title='japanese')
                  img(src='images/flag-japan.png', alt='flag')
              li.language-list__item
                a.language-list__link(href='#', title='korea')
                  img(src='images/flag-korea.png', alt='flag')
