// ======================================================
// Pages :: Contact
// ======================================================

.aime {
  &-about {
    padding-bottom: 172px;
    position: relative;

    .bg-bl {
      bottom: -220px;
    }

    @include respond-to(phone-and-down) {
      padding-bottom: 35px;
    }

    .aime-title {
      margin-bottom: 16px;
    }

    &__content {
      border-radius: 8px;
      box-shadow: 15px 20px 50px 10px rgba(0, 0, 0, .07);
      background-color: $white;
      position: relative;
      margin-top: -70px;
      min-height: 966px;
      padding: 88px 415px 88px 80px;

      @include respond-to(tablet-and-down) {
        padding: 80px;
        min-height: auto;
        margin-top: 50px;
      }

      @include respond-to(smallphone-and-down) {
        padding: 30px 15px;
        min-height: auto;
        margin-top: 50px;
      }

      .images-deco {
        position: absolute;
        top: 56px;
        right: 52px;

        @include respond-to(smallphone-and-down) {
          top: 30px;
          right: 30px;
        }
      }

      .images-bottom {
        position: absolute;
        bottom: 83px;
        right: 53px;

        @include respond-to(tablet-and-down) {
          display: none;
        }
      }
    }

    &__text {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 25px;
    }
  }

  &-milestones {
    padding: 88px 0 90px;

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }
  }

  &-achievement {
    padding: 94px 0 146px;

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }

    .aime-title {
      color: $white;
      margin-bottom: 34px;

      @include respond-to(phone-and-down) {
        margin-bottom: 10px;
      }
    }
  }

  &-team {
    padding: 144px 0 150px;

    .bg-br {
      bottom: auto;
      top: 0;
    }

    @include respond-to(phone-and-down) {
      padding: 40px 0;
    }

    .aime-title {
      margin-bottom: 88px;

      @include respond-to(phone-and-down) {
        margin-bottom: 20px;
      }
    }

    .aime-title-research {
      margin-bottom: 78px;
      margin-top: 204px;
      text-align: center;

      @include respond-to(phone-and-down) {
        margin: 40px 0;
      }
    }
  }

  &-brand {
    padding: 79px 0 164px;

    .bg-br {
      bottom: -155px;
    }

    @include respond-to(phone-and-down) {
      padding: 35px;
    }

    .brand-logo {
      padding-top: 58px;

      @include respond-to(phone-and-down) {
        padding-top: 18px;
      }
    }
  }
}

.mw-700 {
  max-width: 700px;
  margin: 0 auto;
}

.milestones-list {
  $root: &;

  width: 100%;
  padding-right: 157px;

  @include respond-to(phone-and-down) {
    margin-top: 35px;
    word-break: break-all;
    padding-right: 0;
  }

  &__left {
    margin-right: 30px;
    position: relative;

    &:before {
      content: '';
      height: 100%;
      width: 1px;
      display: block;
      position: absolute;
      left: 20px;
      top: 0;
      background-color: $gray;
      z-index: 0;
    }
  }

  &__item {
    display: flex;

    &:last-child {
      .milestones-list__left {
        &:before {
          display: none;
        }
      }
    }
  }

  &__right {
    padding-bottom: 64px;

    @include respond-to(phone-and-down) {
      padding-bottom: 24px;
    }
  }

  &__circle {
    height: 40px;
    width: 40px;
    border-radius: $border-radius-circle;
    background-color: $blue;
    z-index: 1;
    position: relative;
  }

  &__title {
    font-size: 20px;
    font-weight: $font-weight-bold;
    color: $black-darker;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  &__link {
    font-size: 16px;
    line-height: 1.5;
    color: $blue;
    margin-bottom: 20px;
    display: block;

    &:hover {
      color: darken($color: $blue, $amount: 10);
    }
  }
}

.achievement-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &__item {
    padding: 10px;
    text-align: center;
    flex: 0 0 33.33%;

    @include respond-to(phone-and-down) {
      flex: 0 0 50%;
      margin-bottom: 20px;
    }

    @include respond-to(smallphone-and-down) {
      flex: 0 0 100%;
    }
  }

  &__text {
    margin-top: 22px;
    color: $white;
    line-height: 1.5;
    font-size: 16px;
    font-family: $font-family-roboto;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    padding: 11px;
    flex: 0 0 33.33%;
    min-height: 551px;

    @include respond-to(phone-and-down) {
      flex: 0 0 50%;
      min-height: auto;
    }

    @include respond-to(smallphone-and-down) {
      flex: 0 0 100%;
    }
  }

  &__content {
    height: 100%;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 20px 60px 0 rgba(49, 69, 244, .1);
    padding: 60px 24px 30px;
  }

  &__name {
    font-size: 18px;
    font-weight: $font-weight-bold;
    line-height: 1.67;
    text-align: center;
    color: $black-darker;
    margin-top: 20px;
  }

  &__position {
    text-align: center;
    color: #1967fa;
    opacity: .8;
  }

  &__intro {
    font-size: 13px;
    line-height: 2.08;
    color: #11223f;
    margin-top: 20px;
  }
}

.w-31 {
  width: 31px;
}
