// ======================================================
// Pages :: Home
// ======================================================

.aime {
  $root: &;

  &-hero {
    background-color: $blue;
    position: relative;

    &__title {
      font-size: $font-size-base + 34;
      text-align: center;
      line-height: 1.19;
      text-shadow: 1px 1px $white;
      color: $black-dark;
      font-weight: $font-weight-bold;
      padding-top: 59px;
      margin-bottom: 42px;
    }

    &__cover {
      max-width: 100%;
      width: 627px;
      margin-bottom: 40px;
    }

    .bg-bl {
      width: 420px;
    }

    .bg-tr {
      width: 66px;
      top: 30px;
      right: 120px;
    }
  }

  &-intro {
    padding-bottom: 50px;
    padding-top: 116px;

    .bg-tl {
      width: 420px;
      top: 5px;
    }

    &__left {
      .aime-text {
        margin-bottom: 36px;
        line-height: 1.71;
        padding-right: 72px;
      }
    }

    @include respond-to(tablet-and-down) {
      padding-top: 40px;
    }
  }

  &-ecosystem {
    background-color: $white-light;
    padding: 56px 0 36px 0;

    .bg-br {
      bottom: -146px;
      width: 30px;
    }

    .aime-text {
      max-width: 100%;
      width: 424px;
      margin: 0 auto 30px;
    }

    &__cover {
      width: 450px;
      max-width: 100%;
    }

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }
  }

  &-technologies {
    padding: 92px 0 173px;

    .bg-bl {
      bottom: -146px;
      width: 30px;
    }

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }

    .aime-text {
      margin: 2px 0 42px;

      @include respond-to(phone-and-down) {
        margin-bottom: 20px;
      }
    }
  }

  &-services {
    padding: 116px 0 154px;
    background-color: $white-light;

    @include respond-to(tablet-and-down) {
      .services-step {
        justify-content: center;
      }
    }

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }

    .aime-text {
      margin: 2px 0 95px;

      @include respond-to(phone-and-down) {
        margin-bottom: 20px;
      }
    }
  }

  &-more-info {
    padding: 125px 0 134px;

    .cover {
      width: 37.8%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }

    .image-right {
      margin-top: 100px;

      @include respond-to(large-desktop-and-down) {
        max-width: 100%;
      }
    }
  }

  &-testimonial {
    background-color: $blue;
    padding: 137px 0 161px;

    .bg-bl {
      width: 30px;
    }

    @include respond-to(tablet-and-down) {
      padding: 35px 0;
    }

    .color-white {
      color: $white;
      margin-bottom: 46px;
    }
  }

  &-blog {
    padding: 160px 0 207px;

    .bg-br {
      width: 30px;
      bottom: -156px;
    }

    .bg-tl {
      width: 32px;
    }

    @include respond-to(tablet-and-down) {
      padding: 35px 0;
    }
  }
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  &__item {
    flex: 0 0 50%;
    padding: 14px 10px;
    position: relative;

    @include respond-to(smallphone-and-down) {
      flex: 0 0 100%;
    }
  }

  &__content {
    background-color: $white;
    border-radius: $border-radius-base + 4;
    overflow: hidden;
    box-shadow: 0 20px 60px 0 rgba($color: $blue-dark, $alpha: .1);
    height: 100%;
  }

  &__info {
    padding: 34px 40px 59px;
  }

  &__title {
    font-size: $font-size-base + 6;
    color: $black-darker;
    font-weight: $font-weight-bold;
    line-height: 1.5;
  }

  &__text {
    font-size: 15px;
    color: $black-darker;
    line-height: 2;
    padding: 10px 0 25px;
  }

  &__images {
    img {
      object-fit: cover;
      width: 100%;
      height: 170px;
    }
  }
}

.services-step {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 20%;
    padding: 10px;

    @include respond-to(tablet-and-down) {
      flex: 0 0 33.33%;
    }

    @include respond-to(phone-and-down) {
      flex: 0 0 50%;
    }

    @include respond-to(tinyphone-and-down) {
      flex: 0 0 100%;
    }
  }

  &__content {
    background-color: $blue;
    border-radius: $border-radius-base + 4;
    text-align: center;
    padding: 10px 20px 40px;
    position: relative;
    height: 100%;
  }

  &__number {
    font-size: $font-size-base + 34;
    font-weight: $font-weight-bold;
    line-height: 1.19;
    margin: 66px 0 8px;
    color: $white;
  }

  &__icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 36px;

    img {
      width: 100%;
    }
  }

  &__text {
    font-size: $font-size-base + 2;
    line-height: 1.56;
    color: $white;
  }
}

.icon-box {
  &__item {
    display: flex;
    align-items: center;
    padding: 16px 0;
  }

  &__images {
    height: 60px;
    width: 60px;
    flex: 0 0 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  &__text {
    padding-right: 10px;
    line-height: 2.88;
    font-size: $font-size-base + 2;
  }

  &__title {
    font-size: $font-size-base + 6;
    color: $black-darker;
    font-weight: $font-weight-bold;
    line-height: 1.3;
  }

  &--outline {
    .icon-box__images {
      background-color: transparent;
    }
  }
}

.testimonial-slider {
  &__inner {
    background-color: $white;
    width: 620px;
    max-width: 100%;
    min-height: 511px;
    border-radius: $border-radius-base + 4;
    box-shadow: 15px 20px 50px 10px rgba($color: $black, $alpha: .07);
    padding: 31px 80px 100px;
    text-align: center;

    @include respond-to(tablet-and-down) {
      width: 400px;
      padding: 30px;
    }

    @include respond-to(smallphone-and-down) {
      width: 270px;
      padding: 30px 15px;
    }
  }

  &__images {
    border-radius: $border-radius-circle;
    margin: 0 auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
  }

  &__name {
    font-size: $font-size-base+ 12;
    font-weight: $font-weight-bold;
    color: $black-dark;
    margin: 18px 0 6px;
  }

  &__position {
    color: $gray-dark;
    font-size: $font-size-base - 1;
    line-height: 1.85;
  }

  &__say {
    text-align: left;
    font-size: $font-size-base + 2;
    line-height: 1.69;
    margin-top: 36px;

    @include respond-to(tablet-and-down) {
      margin-top: 16px;
    }
  }

  .flipster__button {
    color: $white;

    @include respond-to(smallphone-and-down) {
      color: $black-light;
    }

    &:focus {
      outline: none;
    }
  }
}

.brand-logo {
  padding-top: 100px;
  max-width: 740px;
  margin: 0 auto;

  &__link {
    display: inline-flex;
    position: relative;

    .brand-01 {
      width: 87px;
    }

    .brand-02 {
      width: 81px;
    }

    .brand-03 {
      width: 116px;
    }

    .brand-04 {
      width: 107px;
    }

    .brand-05 {
      width: 170px;
    }

    @include respond-to(tablet-and-down) {
      margin: 8px 10px;
    }
  }

  @include respond-to(tablet-and-down) {
    padding-top: 30px;
  }
}

.content-list {
  margin: 20px -10px 0;
  display: flex;
  flex-wrap: wrap;

  @include respond-to(tablet-and-down) {
    margin-top: 10px;
  }

  &__item {
    padding: 33px 10px;
    flex: 0 0 33.33%;
    width: 33.33%;
    position: relative;

    @include respond-to(phone-and-down) {
      flex: 0 0 50%;
      padding: 10px;
      width: 50%;
    }

    @include respond-to(smallphone-and-down) {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  &__inner {
    border-radius: $border-radius-base + 4;
    overflow: hidden;
    box-shadow: 0 20px 60px 0 rgba($color: $blue-dark, $alpha: .1);
    height: 100%;
    display: block;
  }

  &__images {
    img {
      object-fit: cover;
      width: 100%;
      height: 177px;
    }
  }

  &__info {
    padding: 32px 20px 47px;
  }

  &__title {
    font-size: 16px;
    font-weight: $font-weight-bold;
    line-height: 1.75;
    color: $black-darker;
    margin-bottom: 12px;
  }

  &__date {
    font-family: $font-family-roboto;
    font-size: $font-size-base -2;
    line-height: 2;
    color: $gray;
  }
}

.related-slider {
  .content-list__item {
    width: 100%;
  }
}

.text-list {
  padding-left: 80px;
  margin-bottom: 10px;

  &__item {
    display: block;
    font-size: $font-size-base + 2;
    line-height: 2.44;
  }
}

.owl-carousel .owl-stage-outer {
  // overflow: visible;
  padding: 0 20px;
}

.owl-item {
  opacity: 0;
  transition: opacity 500ms;
}

.owl-item.active {
  opacity: 1;
}

.owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;

  button {
    position: absolute;

    &:focus {
      outline: none;
    }

    span {
      height: 40px;
      width: 40px;
      font-size: 50px !important; /* stylelint-disable-line */
    }
  }

  .owl-prev {
    left: -200px;
  }

  .owl-next {
    right: -200px;
  }
}

.mw-970 {
  max-width: 970px;
}
