// ======================================================
// Pages :: Home
// ======================================================

.aime {
  $root: &;
  &-our-product {
    padding-top: 68px;

    .bg-br {
      width: 30px;
      bottom: -160px;
    }

    .aime-title {
      padding-bottom: 80px;

      @include respond-to(phone-and-down) {
        padding-bottom: 30px;
      }
    }

    @include respond-to(phone-and-down) {
      padding-top: 35px;
    }
  }

  &-our-solution {
    padding: 80px 0 210px;

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }

    .aime-title {
      padding-bottom: 87px;

      @include respond-to(phone-and-down) {
        padding-bottom: 30px;
      }
    }
  }

  &-our-brand {
    padding: 160px 0 164px;

    .bg-br {
      width: 32px;
      bottom: -160px;
    }

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }

    .brand-logo {
      padding-top: 58px;

      @include respond-to(phone-and-down) {
        padding-top: 30px;
      }
    }
  }

  &-video {
    padding-bottom: 161px;

    @include respond-to(phone-and-down) {
      padding-bottom: 35px;
    }

    &__content {
      max-width: 790px;
      margin: -180px auto 0;
      padding: 0 15px;

      .button-play {
        transform: translate(-50%, -50%);
        top: 50%;

        .button-play__content {
          background-color: $blue;
        }
      }

      @include respond-to(phone-and-down) {
        margin-top: 30px;
      }
    }

    &__images {
      border-radius: $border-radius-base + 8;
      z-index: 1;
      position: relative;
      overflow: hidden;
    }

    .aime-title {
      margin-top: 55px;
      margin-bottom: 10px;

      @include respond-to(phone-and-down) {
        margin-top: 25px;
      }
    }

    .aime-text {
      font-size: $font-size-base - 1;
      line-height: 2.08;
    }
  }

  &-features {
    .aime-title {
      margin-top: 100px;
      margin-bottom: 50px;

      @include respond-to(phone-and-down) {
        margin: 35px 0 10px;
      }
    }

    .icon-box__item {
      flex: 0 0 50%;

      @include respond-to(smallphone-and-down) {
        flex: 0 0 100%;
      }
    }

    .icon-box__text {
      font-size: $font-size-base - 1;
      line-height: 1.38;
      color: $black-darker;
      padding-right: 60px;
    }

    .images-right {
      @include respond-to(phone-and-down) {
        max-width: 100%;
      }
    }

    &__wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .bg-bl {
      width: 30px;
      bottom: -160px;
    }
  }

  &-tech-detail {
    padding: 148px 0 140px;

    .bg-br {
      bottom: -220px;
      width: 30px;
    }

    .aime-text {
      margin-bottom: 60px;

      @include respond-to(phone-and-down) {
        margin-bottom: 20px;
      }
    }

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }
  }

  &-benefits {
    padding: 84px 0 196px;

    @include respond-to(phone-and-down) {
      padding: 35px 0;
    }

    .aime-text {
      margin-bottom: 60px;

      @include respond-to(phone-and-down) {
        margin-bottom: 20px;
      }
    }
  }

  &-live-demo {
    padding: 84px 0 144px;
    background-color: $white;
  }

  &-request {
    padding: 123px 0;

    .aime-title {
      color: $white;
      margin-bottom: 40px;
    }

    .register-form__input {
      border-radius: $border-radius-base + 4;
      padding: 10px 20px;
      height: 40px;
      margin-bottom: 24px;
      max-width: 300px;
    }

    .bg-br.bg-br-02 {
      top: calc(100% + 4px);
    }

    @include respond-to(phone-and-down) {
      padding: 50px 0;
    }
  }
}

.product-content {
  margin-bottom: 42px;

  @include respond-to(phone-and-down) {
    margin-bottom: 15px;
  }

  &__left {
    position: relative;
    flex: 0 0 410px;
    max-width: 50%;
    padding-right: 10px;

    .icon-box__images {
      position: absolute;
      top: 20px;
      right: 10px;
      background-color: $white;
    }

    @include respond-to(smallphone-and-down) {
      flex: 0 0 100%;
      max-width: 410px;
      padding-right: 0;
    }
  }

  &__right {
    flex: 0 0 405px;
    padding-left: 25px;
    max-width: 50%;

    @include respond-to(tablet-and-down) {
      padding-left: 10px;
    }

    @include respond-to(phone-and-down) {
      max-width: 100%;
      flex: 0 0 100%;
      padding-left: 0;
    }
  }

  &__title {
    font-size: $font-size-base + 12;
    font-weight: $font-weight-bold;
    color: $black-dark;
    margin: 10px 0 16px;
  }

  &__text {
    font-size: $font-size-base - 1;
    line-height: 2.08;
    color: $black-dark;
  }
}

.text-icon-outer {
  margin-bottom: 140px;

  @include respond-to(phone-and-down) {
    margin-bottom: 35px;
  }
}

.mw-200 {
  max-width: 410px;

  @include respond-to(phone-and-down) {
    max-width: 100%;
    flex: 0 0 100%;
  }
}

.pr-90 {
  padding-right: 90px;

  @include respond-to(phone-and-down) {
    padding-right: 10px;
  }
}

.pr-40 {
  padding-right: 40px;

  @include respond-to(phone-and-down) {
    padding-right: 10px;
  }
}

.solution-box {
  border-radius: $border-radius-base;
  box-shadow: 0 20px 60px 0 rgba(49, 69, 244, .1);
  background-color: $white;
  padding: 40px 30px;

  @include respond-to(phone-and-down) {
    padding: 30px 20px;
  }

  .icon-box__item {
    padding-top: 0;
    padding-bottom: 17px;
  }

  .icon-box__title {
    font-size: $font-size-base + 2;
  }

  &__text {
    font-size: $font-size-base - 1;
    line-height: 2.08;
    color: $black-darker;
    padding-right: 30px;
    padding-bottom: 15px;
  }

  &-outer {
    padding: 10px;
    width: 50%;

    @include respond-to(phone-and-down) {
      width: 100%;
    }
  }

  &-row {
    margin: auto -10px;
  }
}

.tech-detail {
  &__item {
    flex: 0 0 50%;
    padding: 40px  80px  40px 0;

    @include respond-to(tablet-and-down) {
      padding: 20px 0;
    }

    @include respond-to(phone-and-down) {
      flex: 0 0 100%;
    }
  }

  &__title {
    font-size: $font-size-base + 12;
    font-weight: $font-weight-bold;
    color: $black-dark;
    margin-top: 20px;

    &:after {
      content: '';
      display: block;
      width: 33px;
      height: 6px;
      border-radius: $border-radius-base;
      background-color: $blue;
      margin: 13px 0 24px;
    }
  }

  &__text {
    font-size: $font-size-base + 1;
    line-height: 1.6;
    color: $gray-dark;
  }
}

.bennefits-list {
  max-width: 1105px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 33.33%;
    padding: 45px 20px;
    margin-top: 82px;

    @include respond-to(phone-and-down) {
      flex: 0 0 50%;
      padding: 20px 15px;
    }

    @include respond-to(smallphone-and-down) {
      flex: 0 0 100%;
    }
  }

  &__content {
    border-radius: $border-radius-base + 4;
    box-shadow: 0 20px 60px 0 rgba(49, 69, 244, .1);
    background-color: $white;
    padding: 76px 40px 40px;
    position: relative;
    height: 100%;
  }

  &__text {
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: $black-darker;
  }

  &__icon {
    width: 120px;
    height: 120px;
    border-radius: $border-radius-base;
    background-color: $blue;
    top: -82px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    img {
      width: 100%;
    }
  }
}

.upload-btn-wrap {
  [type='file'] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

  [type='file'] + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all .3s;
    vertical-align: middle;

    &:hover {
      background-color: darken(#f15d22, 10%);
    }
  }
}

.upload-wrap {
  margin-top: 112px;
}

.box-img {
  border: 1px solid #858585;
  border-radius: 8px;
  padding: 78px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.box-result {
  border: 1px solid #858585;
  border-radius: 8px;
  padding: 30px 20px;
  height: 530px;
  margin-left: 15px;
}
