extends layout/_default

block head
  +head('Aimesoft - About us')

block main
  +heroCarousel
  .aime-about.bg-white-light
    .aime-container-mini
      .aime-about__content
        h2.aime-title About us
        p.aime-about__text Established in 2018, Aimesoft has defined our vision to become a leading company in providing AI services and solutions to the global market.
        p.aime-about__text Our mission is to constantly innovate and develop advanced technologies to consult and provide AI-powered solutions for both domestic and oversea enterprises.
        p.aime-about__text What makes us unique is our Multimodal AI ecosystem, conducted and developed by AI professionals in Aimesoft. This modal is a combination of multiple input sources and various intelligence algorithms into a single system. With this initiative, we are confident to bring the latest and most impressive AI technologies to the global market.
        p.aime-about__text We aspire to be the best partner with our customers by accelerating their success through our technology services and solutions. Aimesoft is committed to constantly innovating to create breakthrough products that are highly applicable in daily lives
        p.aime-about__text CEO
          br
          |Dr. Nguyen Tuan Duc
        img(src='./images/about-img.png', alt='about').images-bottom
        img(src='./images/about-icon.png', alt='about').images-deco
  .aime-milestones
    .aime-container-mini
      .w-100
        h2.aime-title.text-center Milestones
        p.aime-text.text-center.mw-700 "Aimesoft is an AI product and solution development company focusing on Multimodal AI. Aimesoft Multimodal AI combines various input data sources, such as text, images, speech data with intelligence processing algorithms to achieve impressive results in real-world problems. 
          br
          |The history of Aimesoft dates back to 2007, when the founder and CEO, Dr. Nguyen Tuan Duc, started the research on Distributed AI and Natural Language Processing. 
      .w-100
        ul.milestones-list
          li.milestones-list__item
            .milestones-list__left
              .milestones-list__circle
            .milestones-list__right
              .milestones-list__title 2007
              .milestones-list__text Distributed AI research
              a(href='#').milestones-list__link  http://www.milresh.com/duc/old/yaccai/
          li.milestones-list__item
            .milestones-list__left
              .milestones-list__circle
            .milestones-list__right
              .milestones-list__title 2009-2012
              .milestones-list__text Natural Language Processing research (invented Latent Relational Search)
              a(href='#').milestones-list__link  https://www.researchgate.net/figure/Overview-of-the-latent-relational-search-engine_fig1_221158427
              a(href='#').milestones-list__link  http://www.milresh.com/
          li.milestones-list__item
            .milestones-list__left
              .milestones-list__circle
            .milestones-list__right
              .milestones-list__title 2014
              .milestones-list__text Online Internet advertising system optimization algorithm research
              a(href='#').milestones-list__link  https://ieeexplore.ieee.org/document/7395692
          li.milestones-list__item
            .milestones-list__left
              .milestones-list__circle
            .milestones-list__right
              .milestones-list__title 2016
              .milestones-list__text Built the world's first P.A.I. (Personal AI) system
              a(href='#').milestones-list__link  https://www.businesswire.com/news/home/20160606005459/en/Artificial-Intelligence-Developer-Alt-Welcomes-Dr.-Nguyen
          li.milestones-list__item
            .milestones-list__left
              .milestones-list__circle
            .milestones-list__right
              .milestones-list__title 2018
              .milestones-list__text 2018/2 – Aimesoft JSC establishment
              .milestones-list__text 2018/2 – Multimodal AI research and development
              .milestones-list__text 2018/5 – AimeFluent system development
          li.milestones-list__item
            .milestones-list__left
              .milestones-list__circle
            .milestones-list__right
              .milestones-list__title 2019
              .milestones-list__text 2019/2 – AimeCard, AimeFace product development.
              .milestones-list__text 2019/5 – Aimesoft USA (Aimesoft Inc.) establishment, expanding to US market
              .milestones-list__text 2019/10 – Aimenicorn ecosystem realization.
          li.milestones-list__item
            .milestones-list__left
              .milestones-list__circle
            .milestones-list__right
              .milestones-list__title 2020
              .milestones-list__text 2020/2 – AimeFace Japanese patent registration
              .milestones-list__text 2020/4 – Expands business to Korean market
  .aime-achievement.bg-blue
    .aime-container-mini.justify-content-center
      h2.aime-title Achievement
    .aime-container-mini
      ul.achievement-list
        li.achievement-list__item
          .achievement-list__image.text-center
              img(src='./images/oval.png', alt='oval').mw-100
          .achievement-list__text Built the World's first Multimodal AI software ecosystem (Aimenicorn)
        li.achievement-list__item
          .achievement-list__image.text-center
              img(src='./images/oval.png', alt='oval').mw-100
          .achievement-list__text Invented Aimesoft Multimodal AI paradigm
        li.achievement-list__item
          .achievement-list__image.text-center
              img(src='./images/oval.png', alt='oval').mw-100
          .achievement-list__text More than 200 Multimodal AI real-world applications/solutions for various clients in Japan, UK, US and Korea
  .aime-team.bg-white-light
    .aime-container-mini.justify-content-center
      h2.aime-title Team BOD
    .aime-container-mini
      ul.team-list
        li.team-list__item
          .team-list__content
            .team-list__images.text-center
              img(src='./images/avatar1.png', alt='avatar')
            .team-list__name Ông Nguyễn Tuấn Hưng
            .team-list__position Chủ tịch HĐQT
            .team-list__intro Có trên 10 năm kinh nghiệm kinh doanh trong lĩnh vực Công nghệ thông tin, Phần cứng, Phần mềm. Sáng lập và điều hành Công ty Giải pháp Phần mềm Dotoh từ năm 2013. Chủ tịch HĐQT Công ty Cổ phần Aimesoft.
        li.team-list__item
          .team-list__content
            .team-list__images.text-center
              img(src='./images/avatar2.png', alt='avatar')
            .team-list__name TS. Nguyễn Tuấn Đức
            .team-list__position Tổng Giám đốc
            .team-list__intro Tốt nghiệp Tiến sỹ ngành Khoa học và Công nghệ thông tin tại Đại học Tokyo chuyên ngành Xử lý ngôn ngữ tự nhiên. Nhận giải thưởng Xuất sắc của Hội nghị Toàn quốc Hội Trí tuệ nhân tạo Nhật Bản năm 2010. Có nhiều năm kinh nghiệm làm việc tại các công ty phần mềm lớn ở Tokyo về khoa học dữ liệu và trí tuệ nhân tạo.
        li.team-list__item
          .team-list__content
            .team-list__images.text-center
              img(src='./images/avatar3.png', alt='avatar')
            .team-list__name Ông Hideaki Suga
            .team-list__position Phó Tổng Giám đốc
            .team-list__intro Tốt nghiệp Đại học Ashikaga, Nhật Bản. Chỉ đạo dự án bảo mật hệ thống thông tin của Bộ Kinh tế, Thương mại và Công nghiệp Nhật Bản (METI). Có kinh nghiệm nhiều năm trong lĩnh vực bảo mật hệ thống thông tin, an ninh mạng.
    .aime-container-mini.justify-content-center
      h2.aime-title.aime-title-research AI research & development members
    .aime-container-mini.justify-content-center
      img(src='./images/key-member.png', alt='avatar').mw-100
  .aime-brand
    .aime-container-mini
      .w-100
        h2.aime-title.mb-0.text-center Partners
        .brand-logo.d-flex.flex-wrap.justify-content-center.justify-content-lg-between.align-items-center.mw-100
          a(href='#').brand-logo__link
            img.brand-01(src='images/brand-01.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img.brand-02(src='images/brand-02.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img.brand-03(src='images/brand-03.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img.brand-04(src='images/brand-04.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img.brand-05(src='images/brand-05.png', alt='logo brand').brand-logo__item
