extends layout/_default

block head
  +head('Aimesoft - About us')

block main
  .aime-hero-intro
  .aime-about.bg-white-light
    .aime-container-mini
      .aime-about__content
        h2.aime-title About us
        p.aime-about__text Established in 2018, Aimesoft has defined our vision to become a leading company in providing AI services and solutions to the global market.
        p.aime-about__text Our mission is to constantly innovate and develop advanced technologies to consult and provide AI-powered solutions for both domestic and oversea enterprises.
        p.aime-about__text What makes us unique is our Multimodal AI ecosystem, conducted and developed by AI professionals in Aimesoft. This modal is a combination of multiple input sources and various intelligence algorithms into a single system. With this initiative, we are confident to bring the latest and most impressive AI technologies to the global market.
        p.aime-about__text We aspire to be the best partner with our customers by accelerating their success through our technology services and solutions. Aimesoft is committed to constantly innovating to create breakthrough products that are highly applicable in daily lives
        p.aime-about__text CEO
          br
          |Dr. Nguyen Tuan Duc
        img(src='./images/about-img.png', alt='about').images-bottom
        img(src='./images/about-icon.png', alt='about').images-deco
  .aime-milestones
    .aime-container-mini
      .w-100
        h2.aime-title.text-center Milestones
        p.aime-text.text-center.mw-700 "Aimesoft is an AI product and solution development company focusing on Multimodal AI. Aimesoft Multimodal AI combines various input data sources, such as text, images, speech data with intelligence processing algorithms to achieve impressive results in real-world problems. 
          br
          |The history of Aimesoft dates back to 2007, when the founder and CEO, Dr. Nguyen Tuan Duc, started the research on Distributed AI and Natural Language Processing. 
