extends layout/_default

block head
  +head('Aimesoft - Blog')

block main
  +heroCarousel
  .aime-portfolio.bg-white-light.pb-0
    .container.tex-center
      h2.aime-title.text-center.pb-2 Our Portfolio
      ul.filters-block.w-100
        li.filters-block__item.is-checked(data-filter='.news') News
        li.filters-block__item(data-filter='.insights') Insights
        li.filters-block__item(data-filter='.blog') Blog
  .aime-portfolio-list.aime-blog-list.position-relative
    .aime-container-mini
      ul.content-list.w-100
        - for(var i = 1; i < 13; i++)
          if(i <= 3)
            li.content-list__item.news(data-category='news')
              .content-list__inner
                .content-list__images
                  img(src=`images/portfolio-0${i}.png`, alt='content')
                .content-list__info
                  .content-list__title Aimesoft tiên phong ứng dụng trí tuệ nhân tạo đa thể thức
                  .content-list__date 12 Mar 2020
          if(i <= 8)
            li.content-list__item.insights(data-category='insights')
              .content-list__inner
                .content-list__images
                  img(src=`images/portfolio-0${i}.png`, alt='content')
                .content-list__info
                  .content-list__title Aimesoft tiên phong ứng dụng trí tuệ nhân tạo đa thể thức
                  .content-list__date 12 Mar 2020
          else
            li.content-list__item.blog(data-category='blog')
              .content-list__inner
                .content-list__images
                  img(src=`images/portfolio-0${i}.png`, alt='content')
                .content-list__info
                  .content-list__title Aimesoft tiên phong ứng dụng trí tuệ nhân tạo đa thể thức
                  .content-list__date 12 Mar 2020
      .d-flex.justify-content-center.w-100
        +buttons-link({
          btnType:'blue',
          btnSize:'large',
          text:'XEM THÊM'
        }).mw-140.btn-view-more
      .w-100
        h2.aime-title.mb-0.text-center Partners
        +brandLogo
    img.bg-br.d-none.d-lg-block(src='images/bg-c-07.png', alt='cover').w-31
    img.bg-tl.d-none.d-lg-block(src='images/bg-c-04.png', alt='cover').w-31
