extends layout/_default

block head
  +head('Aimesoft - Contact us')

block main
  +heroCarousel
  .aime-contact.position-relative
    img.bg-br.d-none.d-lg-block(src='images/bg-c-07.png', alt='cover')
    .aime-container-mini
      h2.aime-title Contact us
    .aime-container-mini
      .row.w-sm-100
        .col-md-5
          ul.info-list
            li.info-list__item
              .info-list__icon
                img.icon-pin(src='images/icon-pin.png', alt='icon')
              .info-list__text Tầng 3, toà nhà Hoàng Ngọc, số 4 ngõ 82 phố Dịch Vọng Hậu, Cầu Giấy, Hà Nội
            li.info-list__item
              .info-list__icon
                img.icon-telephone(src='images/icon-telephone.png', alt='icon')
              .info-list__text 098-538-7426
            li.info-list__item
              .info-list__icon
                img.icon-mail(src='images/icon-mail.png', alt='icon')
              .info-list__text info@aimesoft.com
        .col-md-1
        .col-md-5
          form.contact-form(action='')
            input(type='text' placeholder='Your email').contact-form__control
            input(type='text' placeholder='Your name').contact-form__control
            textarea(placeholder='Your message').contact-form__control
            +buttons({
              btnType:'blue',
              btnSize:'large',
              text:'SEND US'
            }).contact-form__button
