extends layout/_default

block head
  +head('Aimesoft - Products detail')

block main
  +heroCarousel
  .aime-video
    .aime-video__content
      .aime-video__images
        img(src='http://via.placeholder.com/780x356.png', alt='product').mw-100
        button.button-play.js-video-btn(type="button" data-toggle="modal" data-src="https://www.youtube.com/embed/Jfrjeg26Cwk" data-target="#myModal")
          .button-play__content
            .button-play__icon
      h2.aime-title Aime Hotel
      p.aime-text Aimehotel is a program/software program developed to meet the high demands of customers during their stay at the hotel. This Multimodal AI-powered product combines various data resources (text, voice, photos, data) and smart processing algorithms.
  .aime-features.bg-white-light.d-flex.justify-content-end.position-relative
    img.bg-bl.d-none.d-lg-block(src='images/bg-c-04.png', alt='cover')
    img.cover(src='images/bg-product-detail-01.png', alt='product').images-right
    .aime-features__wrap
      .aime-container-mini
        .row.w-sm-100
          .col-md-8
            h2.aime-title Features
            ul.icon-box.d-flex.flex-wrap.mb-4
              -
                var listIcon= ['Facial recognition, auto-greeting and customer’s information remembering', 'New knowledge enabling to improve the hotel’s virtual staff intelligence', 'Suggestions for hotel’s service and information ', 'Scalable software: Integrating a 3rd party server','Customer data statistics, user services personalization ']
              each item, i in listIcon
                li.icon-box__item.d-flex
                  .icon-box__images
                    img(src=`images/feature-0${i + 1}.png`, alt='content')
                  .icon-box__text=item
  .aime-tech-detail.position-relative
    img.bg-br(src='images/bg-c-04.png', alt='cover')
    .container
      h2.aime-title.text-center Technologies
      p.aime-text.text-center Aimesoft’s technologies to realize Multimodal AI
    .aime-container-mini
      ul.tech-detail.d-flex.flex-wrap
        li.tech-detail__item
          .tech-detail__icon
            img(src='http://via.placeholder.com/56x56.png', alt='product')
          .tech-detail__title Natural language processing
          .tech-detail__text Tokenization, POS tagging, keyword extraction, synonym/antonym detection, information extraction, relation extraction, semantic search, natural language understanding
        li.tech-detail__item
          .tech-detail__icon
            img(src='http://via.placeholder.com/56x56.png', alt='product')
          .tech-detail__title Image processing
          .tech-detail__text Object recognition, semantic segmentation, face recognition, gender/age recognition, OCR (optical character recognition), image search/retrieval, predictive analytics based on image
        li.tech-detail__item
          .tech-detail__icon
            img(src='http://via.placeholder.com/56x56.png', alt='product')
          .tech-detail__title Speech processing
          .tech-detail__text Language model extraction from Web text, acoustic model creation, hot word/trigger word detection, noise cancellation, ...
        li.tech-detail__item
          .tech-detail__icon
            img(src='http://via.placeholder.com/56x56.png', alt='product')
          .tech-detail__title Data processing
          .tech-detail__text Big Data processing, KPI prediction, predictive analytics based on Big Data, recomendation algorithms, data generation for machine learning
  .aime-benefits.bg-white-light
    .container
      h2.aime-title.text-center Benefits
      p.aime-text.text-center Các giải pháp của Aimesoft dựa trên Trí tuệ nhân tạo đa thể thức
    ul.bennefits-list
      li.bennefits-list__item
        .bennefits-list__content
          .bennefits-list__icon.d-flex.align-items-center.justify-content-center
            img(src='images/feature-03.png', alt='product')
          .bennefits-list__text Thông tin về các sản phẩm dịch vụ đến gần hơn, sống động
            br
            |hơn đối với khách hàng
      li.bennefits-list__item
        .bennefits-list__content
          .bennefits-list__icon.d-flex.align-items-center.justify-content-center
            img(src='images/feature-02.png', alt='product')
          .bennefits-list__text hục vụ khách hàng nhanh chóng, tiện dụng ở tất cả các
            br
            |thời gian trong ngày, đáp ứng 24/7
      li.bennefits-list__item
        .bennefits-list__content
          .bennefits-list__icon.d-flex.align-items-center.justify-content-center
            img(src='images/feature-04.png', alt='product')
          .bennefits-list__text Khả năng phục vụ cá nhân hoá được phổ biến hơn
      li.bennefits-list__item
        .bennefits-list__content
          .bennefits-list__icon.d-flex.align-items-center.justify-content-center
            img(src='images/feature-05.png', alt='product')
          .bennefits-list__text Hỗ trợ các bộ phận nghiệp vụ trong khách sạn phục vụ
            br
            |khách hàng chu đáo hơn.
      li.bennefits-list__item
        .bennefits-list__content
          .bennefits-list__icon.d-flex.align-items-center.justify-content-center
            img(src='images/process-05.png', alt='product')
          .bennefits-list__text Khách hàng hài lòng với dịch vụ, trải nghiệm tốt » tăng
            br
            |doanh thu cho khách sạn
  .aime-request.bg-blue
    .aime-container-mini
      .row.w-sm-100
        .col-md-5.d-flex.align-items-center.justify-content-center
          img(src='images/bg-product-detail-02.png', alt='product').mw-100.mb-4
        .col-md-7
          h2.aime-title Request a demo
          form.register-form
            input.form-control.register-form__input(type='text', placeholder='Your email')
            +buttons({
              btnType:'outline',
              btnSize:'large',
              text:'REGISTER'
            })

  +modalVideo