extends layout/_default

block head
  +head('Aimesoft - Service')

block main
  .aime-hero-intro
  .aime-eco.bg-white-light
    .container
      h2.aime-title.text-center.pb-2 Our services
      p.aime-text At Aimesoft, we provide end-to-end Multimodal AI integrated solutions across a wide range of industries such as Healthcare, Hospitality, Transportation, etc. In addition to  developing AI-powered products, we provide consulting services to enable companies to understand, evaluate and adopt Artificial Intelligence. With a team of dedicated and leading AI experts, we have assisted numerous enterprises to achieve breakthroughs in their development journey
  .aime-product
    .aime-container-mini
      .col-md-6.p-0
        h2.aime-title.mb-3.mb-md-5 AI Consulting
        img(src='http://via.placeholder.com/410x326.png', alt='icon').pt-2.mt-2.mw-100.pr-0.pr-md-3.mb-4
      .col-md-6.p-0
        h2.aime-title.mb-3.mb-md-5 AI Products
        .row
          .col-md-6
            ul.icon-box.icon-box--outline
              -
                var listIcon= ['AimeHotel', 'AimeReception', 'AimeCard', 'AimeAIshop', 'AimeStats', 'AimeSpeech']
              each item in listIcon
                li.icon-box__item.d-flex
                  .icon-box__images
                    img(src='http://via.placeholder.com/40x40.png', alt='icon')
                  .icon-box__text=item
          .col-md-6
            ul.icon-box.icon-box--outline
              -
                var listIcon= ['AimeHospital', 'AimeFluent', 'AimeFace', 'Aimelytics']
              each item in listIcon
                li.icon-box__item.d-flex
                  .icon-box__images
                    img(src='http://via.placeholder.com/40x40.png', alt='icon')
                  .icon-box__text=item
  .aime-expertise.bg-white-light
    .aime-container-mini
      .w-100
        h2.aime-title.mb-3.mb-md-5 Our key Expertise
        .row
          .col-sm-6.col-md-4
            .icon-box__item.d-flex
              .icon-box__images
                img(src='http://via.placeholder.com/40x40.png', alt='icon')
              .icon-box__content
                .icon-box__title Natural Language  Processing
            ul.text-list
              li.text-list__item Natural Language 
              li.text-list__item Understanding
              li.text-list__item Medical NLP
              li.text-list__item Search Engines
          .col-sm-6.col-md-4
            .icon-box__item.d-flex
              .icon-box__images
                img(src='http://via.placeholder.com/40x40.png', alt='icon')
              .icon-box__content
                .icon-box__title Speech
                  br
                  |processing
            ul.text-list
              li.text-list__item Speech Recognition
              li.text-list__item Speech Synthesis
          .col-sm-6.col-md-4
            .icon-box__item.d-flex
              .icon-box__images
                img(src='http://via.placeholder.com/40x40.png', alt='icon')
              .icon-box__content
                .icon-box__title Image
                  br
                  |Processing
            ul.text-list
              li.text-list__item Object Recognition
              li.text-list__item Predictive Analytics from
              li.text-list__item Images
              li.text-list__item 3D Modelling
              li.text-list__item Smart OCR
              li.text-list__item Image Synthesis
          .col-sm-6.col-md-4
            .icon-box__item.d-flex
              .icon-box__images
                img(src='http://via.placeholder.com/40x40.png', alt='icon')
              .icon-box__content
                .icon-box__title Data mining
            ul.text-list
              li.text-list__item Click prediction
              li.text-list__item KPI Prediction
              li.text-list__item Stock prediction
              li.text-list__item Recommender Systems
          .col-sm-6.col-md-4
            .icon-box__item.d-flex
              .icon-box__images
                img(src='http://via.placeholder.com/40x40.png', alt='icon')
              .icon-box__content
                .icon-box__title Text Mining
          .col-sm-6.col-md-4
            .icon-box__item.d-flex
              .icon-box__images
                img(src='http://via.placeholder.com/40x40.png', alt='icon')
              .icon-box__content
                .icon-box__title Big Data
  .aime-process
    .aime-container-mini
      .w-100
        h2.aime-title Our process
        ul.process-step
          li.process-step__item
            .row
              .col-md-4
                .icon-box__item.d-flex
                  .icon-box__images
                    img(src='http://via.placeholder.com/40x40.png', alt='icon')
                  .icon-box__content
                    .icon-box__title Discover and
                      br
                      |understand the insights
                .arrow-step
              .col-md-4
                .text-icon AI Technology guidance, showcase
                .text-icon Discover potential AI solutions for the client
                .text-icon Evaluate customer needs
              .col-md-4
                .text-icon Evaluate existing business processes,  workflow, data, infrastructure...
                .text-icon Evaluate applicable AI techonologies
          li.process-step__item
            .row
              .col-md-4
                .icon-box__item.d-flex
                  .icon-box__images
                    img(src='http://via.placeholder.com/40x40.png', alt='icon')
                  .icon-box__content
                    .icon-box__title Give advisory
                .arrow-step
              .col-md-4
                .text-icon AI Strategy formulation advice
                .text-icon AI Solution proposal
                .text-icon Implementation planning
              .col-md-4
                .text-icon Data collection, annotation workflow definition
          li.process-step__item
            .row
              .col-md-4
                .icon-box__item.d-flex
                  .icon-box__images
                    img(src='http://via.placeholder.com/40x40.png', alt='icon')
                  .icon-box__content
                    .icon-box__title Provide solutions & Analysis (PoC)
                .arrow-step
              .col-md-4
                .text-icon Provide solutions to bring improvements
                .text-icon Data collection, annotation, analysis
                .text-icon AI model/algorithm research, development, experiment
                .text-icon AI model performance/ accuracy evaluation
              .col-md-4
                .text-icon System integration
                .text-icon Integration testing
                .text-icon Infrastructure, network, security evaluation
                .text-icon Potential business impact evaluation, analysis,  report
          li.process-step__item
            .row
              .col-md-4
                .icon-box__item.d-flex
                  .icon-box__images
                    img(src='http://via.placeholder.com/40x40.png', alt='icon')
                  .icon-box__content
                    .icon-box__title Production
                .arrow-step
              .col-md-4
                .text-icon Go-live strategy advice
                .text-icon Deploy and launch the system
                .text-icon Infrastructure selection
                .text-icon Load balancing
              .col-md-4
                .text-icon Security
                .text-icon Performance monitoring
                .text-icon User guide, manual
          li.process-step__item
            .row
              .col-md-4
                .icon-box__item.d-flex
                  .icon-box__images
                    img(src='http://via.placeholder.com/40x40.png', alt='icon')
                  .icon-box__content
                    .icon-box__title Evaluation & Support
              .col-md-4
                .text-icon Business impact evaluation, analysis, report
                .text-icon Chance managementt
                .text-icon System maintenance, improvemen
              .col-md-4
                .text-icon Gather feedback & support
                .text-icon Technology transfer
      .w-100
        h2.aime-title.mb-0.text-center Partners
        .brand-logo.d-flex.flex-wrap.justify-content-between.align-items-center.mw-100
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/87x19.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/81x23.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/116x44.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/107x35.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/180x24.png', alt='logo brand').brand-logo__item
