extends layout/_default

block head
  +head('Aimesoft - Success-stories')

block main
  +heroCarousel
  .aime-portfolio.bg-white-light.position-relative
    img.bg-tl.d-none.d-lg-block(src='images/bg-c-04.png', alt='cover')
    .container
      h2.aime-title.text-center.pb-2 Our Portfolio
      p.aime-text.text-center.mb-3
        span.mr-2 Domain:
        span.mr-3  Heathcare
        span.mr-3 Logistic
        span Government
      p.aime-text.text-center
        span.mr-2  Product & Solution:
        span.mr-3  Aimecard
        span.mr-3 AimeFluent
        span Amestas
  .aime-portfolio-list.position-relative
    img.bg-br.d-none.d-lg-block(src='images/bg-c-07.png', alt='cover')
    .aime-container-mini
      ul.content-list
        - for(var i = 1; i < 13; i++)
          li.content-list__item
            .content-list__inner
              .content-list__images
                img(src=`images/portfolio-0${i}.png`, alt='content')
              .content-list__info
                .content-list__title Aimesoft tiên phong ứng dụng trí tuệ nhân tạo đa thể thức
                .content-list__date 12 Mar 2020
      .d-flex.justify-content-center.w-100
        +buttons-link({
          btnType:'blue',
          btnSize:'large',
          text:'XEM THÊM'
        }).mw-140.btn-view-more
      .w-100
        h2.aime-title.mb-0.text-center Partners
        .aime-container-mini
          +brandLogo