extends layout/_default

block head
  +head('Aimesoft - Success-stories')

block main
  .aime-hero-intro
  .aime-portfolio.bg-white-light
    .container
      h2.aime-title.text-center.pb-2 Our Portfolio
      p.aime-text.text-center.mb-3
        span.mr-2 Domain:
        span.mr-3  Heathcare
        span.mr-3 Logistic
        span Government
      p.aime-text.text-center
        span.mr-2  Product & Solution:
        span.mr-3  Aimecard
        span.mr-3 AimeFluent
        span Amestas
  .aime-portfolio-list
    .aime-container-mini
      ul.content-list
        li.content-list__item
          .content-list__inner
            .content-list__images
              img(src='http://via.placeholder.com/300x177.png', alt='content')
            .content-list__info
              .content-list__title Aimesoft tiên phong ứng dụng trí tuệ nhân tạo đa thể thức
              .content-list__date 12 Mar 2020
        li.content-list__item
          .content-list__inner
            .content-list__images
              img(src='http://via.placeholder.com/300x177.png', alt='content')
            .content-list__info
              .content-list__title Althusser Competing Interpellations And The Third Text
              .content-list__date 12 Mar 2020
        li.content-list__item
          .content-list__inner
            .content-list__images
              img(src='http://via.placeholder.com/300x177.png', alt='content')
            .content-list__info
              .content-list__title Always Look On The Bright Side Of Life
              .content-list__date 12 Mar 2020
        li.content-list__item
          .content-list__inner
            .content-list__images
              img(src='http://via.placeholder.com/300x177.png', alt='content')
            .content-list__info
              .content-list__title Addiction When Gambling Becomes A Problem
              .content-list__date 12 Mar 2020
        li.content-list__item
          .content-list__inner
            .content-list__images
              img(src='http://via.placeholder.com/300x177.png', alt='content')
            .content-list__info
              .content-list__title Sony Laptops Are Still Part Of The Sony Family
              .content-list__date 12 Mar 2020
        li.content-list__item
          .content-list__inner
            .content-list__images
              img(src='http://via.placeholder.com/300x177.png', alt='content')
            .content-list__info
              .content-list__title Addiction When Gambling Becomes A Problem
              .content-list__date 12 Mar 2020
      .d-flex.justify-content-center.w-100
        +buttons-link({
          btnType:'blue',
          btnSize:'large',
          text:'XEM THÊM'
        }).mw-140.btn-view-more
      .w-100
        h2.aime-title.mb-0.text-center Partners
        .brand-logo.d-flex.flex-wrap.justify-content-between.align-items-center.mw-100
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/87x19.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/81x23.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/116x44.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/107x35.png', alt='logo brand').brand-logo__item
          a(href='#').brand-logo__link
            img(src='http://via.placeholder.com/180x24.png', alt='logo brand').brand-logo__item
